{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        cljsjs/react {:mvn/version "18.2.0-1"}
        cljsjs/react-dom {:mvn/version "18.2.0-1"}
        reagent/reagent {:mvn/version "1.1.1"}}
 :paths ["src" "resources"]
 :aliases
 {:fig {:extra-paths ["target" "test"]
        :extra-deps
        {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
         fipp/fipp {:mvn/version "0.6.26"}}}

  ;; clj -Mkaocha --config-file tests.edn
  :kaocha {:extra-paths ["test"]
           :extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}
                        lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                        lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
           :main-opts ["-m" "kaocha.runner"]}

  ;; clj -Mclj-kondo --lint src
  :clj-kondo
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.12.10"}}
   :main-opts ["-m" "clj-kondo.main"]}

  ;; clj -Mcoverage
  :coverage {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
             :main-opts ["-m" "cloverage.coverage" "-p" "src"]}}}
