{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/core.async {:mvn/version "0.4.500"}
        reagent/reagent {:mvn/version "1.0.0"}
        ;; This is not dev only because of production build
        com.bhauman/figwheel-main {:mvn/version "0.2.12"}
        }
 :paths ["src" "target" "resources"]}
